@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins m-0 p-0 box-border;
}

/* Desktop Background */
.bg-custom {
  background-image: url('/src/assets/bg4.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

/* Mobile Background */
@media (max-width: 768px) {
  .bg-custom {
    background-image: url('/src/assets/bg5.png');
  }
}

/* Line clamp */
.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
